*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('./assets/fonts/static/Inter-Bold.woff2') format('woff2'),
         url('./assets/fonts/static/Inter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('./assets/fonts/static/Inter-Regular.woff2') format('woff2'),
         url('./assets/fonts/static/Inter-Regular.woff') format('woff');
}

:root {

    /* Custom properties for colors */
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --green: #C4F82A;
    --white: #FFFFFF;

    /* Custom properties for spacing */
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

.card-container img {
    width: 88px;
    border-radius: 44px;
}