*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('./assets/fonts/static/Inter-Bold.woff2') format('woff2'),
         url('./assets/fonts/static/Inter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('./assets/fonts/static/Inter-SemiBold.woff2') format('woff2'),
         url('./assets/fonts/static/Inter-SemiBold.woff')  format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('./assets/fonts/static/Inter-Regular.woff2') format('woff2'),
         url('./assets/fonts/static/Inter-Regular.woff') format('woff');
}

:root {

    /* Custom properties for colors */
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --green: #C4F82A;
    --white: #FFFFFF;

    /* Custom properties for spacing */
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

html {
    background-color: var(--grey-900);

    font-family: 'Inter';
    color: var(--white);

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: var(--grey-800);
    display: flex;
    flex-direction: column;
    width: 384px;
    padding: var(--spacing-500);
    align-items: center;
    gap: var(--spacing-300);

    border-radius: 12px;
}

.card-container img {
    width: 88px;
    border-radius: 44px;
}

.title {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: var(--spacing-50);
}

.title h1 {
    font-weight: 600;
    font-size: 24px;
}

.title h2 {
    font-weight: 700;
    font-size: 14px;
    color: var(--green);
}

p {
    font-weight: 400;
    font-size: 14px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-200);
}

.buttons button{
    border: none;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--white);
    background-color: var(--grey-700);

    padding: 12px 0px;
    border-radius: 8px;
}

.buttons button:hover {
    color: var(--grey-700);
    background-color: var(--green);
    cursor: pointer;
}

@media (max-width: 600px) {
    .card-container {
        width: 327px;
    }
}