*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('./assets/fonts/static/Inter-Bold.woff2') format('woff2'),
         url('./assets/fonts/static/Inter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('./assets/fonts/static/Inter-Regular.woff2') format('woff2'),
         url('./assets/fonts/static/Inter-Regular.woff') format('woff');
}

:root {

    /* Fazer custom properties das cores */
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --green: #C4F82A;
    --white: #FFFFFF;


    /* Fazer custom properties das fontes */


    /* Fazer custom properties dos espaçamentos */
}